---
import SocialPill from "@/components/SocialPill.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"

import Layout from "@/layouts/Layout.astro"
---

<Layout
  title="JC"
  description="Soy un profesional apasionado con amplia experiencia en desarrollo, soporte técnico, y administración de servidores. Me especializo en ofrecer soluciones eficientes y robustas, enfocadas en seguridad y rendimiento. Si buscas un enfoque práctico y orientado a resultados, ¡este es tu lugar!"
>
    </article>

    <article class="mb-10">
      <h1 class="mb-4 text-xl font-semibold">&lt SocialPill /&gt;</h1>

      <div class="flex">
        <SocialPill href="https://linkedin.com/in/josecahdez">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
      </div>
    </article>
  </SectionContainer>
</Layout>
