---
import ExperienceItem from "./ExperienceItem.astro"


const EXPERIENCIE = [
{
    date: "January 2025 – Present",
    title: "Technical Support Engineer",
    company: "Alsuper",
    description:
      "Server administration. |	Active Directory. | On-site and remote user support |	Preventive and corrective maintenance of computer equipment |	Printers, scanners, and IP telephony.",
    link: "https://alsuper.com/",
    technologies: [
      "Internal ERP",
      "I-Top",
      "Team Viewer",      
    ],
  },
  {
    date: "October 2023 - November 2024",
    title: "Server administration",
    company: "Reckon Solution",
    description:
      "Managed servers | Provided support for the web portal by identifying and resolving performance issues | Delivered troubleshooting support for server-related issues affecting portal functionality | Provided remote user support",
    link: "https://reckonsolution.com/",
    technologies: [
      "VMware",
      "ESXi",
      "VCenter",
      "Team Viewer",      
    ],
  },
  {
    date: "August 2022 — October 2023",
    title: "Backend Developer",
    company: "TSOFT",
    description:
      "Participated in the full software development lifecycle, from design to implementation, with a strong focus on optimizing existing applications to improve performance and scalability | Made significant contributions to the development, migration, and implementation of enterprise solutions, including high-impact projects for financial institutions such as the Mexican Stock Exchange | Led the migration of the system login mechanism from a JSF and EJB-based implementation to a customized Single Sign-On (SSO) solution using JWT and a Spring Boot client.",
      link: "https://www.tsoftglobal.com/",
      technologies: [
      "Java",
      "Spring Boot",
      "Angular",
      "Hibernate",
      "Maven",
      "SQL",
      "Jboss",
      "GitHub",
      "GitLab",      
    ],
    
    },
  {
    date: "August 2020 – August 2022",
    title: "Systems Analyst",
    company: "Grupo Hergosa",
    description:
      "Administración y virtualización de servidores con VMware, ESXi y VCenter. | Active directory. | Administración de Fortinet. | Administrador de Zendesk (Sistema de tickets). | Soporte a usuarios presencial y vía remota (Team Viewer y Escritorio Remoto). | Virtualización y clonación de equipos. |  Mantenimiento preventivo y correctivo a equipos de cómputo. | Impresoras, telefonía IP, cableado estructuradoServer administration and virtualization using VMware, ESXi, and vCenter | Active Directory | Fortinet administration | Zendesk administrator (ticketing system) | On-site and remote user support (TeamViewer and Remote Desktop) | Workstation virtualization and cloning | Preventive and corrective maintenance of computer equipment | Printers, IP telephony, and structured cabling.",
    link: "https://www.grupohergosa.com.mx/",
    technologies: [
      "VMware",
      "ESXi",
      "VCenter",
      "Zendesk",
      "Team Viewer",      
    ],
  },
  {
    date: "Noviembre 2016 — Julio 2020",
    title: "Technical Support Engineer",
    company: "PRODECON",
    description:
      "Zone Coordinator | Head of the Systems Department | Implemented a software solution in the customer complaints area, achieving a 300% improvement in operational efficiency | Preventive and corrective maintenance of computer equipment | On-site and remote technical support for users | Printers and IP telephony.",
    link: "https://www.prodecon.gob.mx/",
    technologies: [
      "Java",
      "SQL",      
    ],
  },
  {
    date: "December 2015 – June 2016",
    title: "Technical Support Engineer",
    company: "AUMA S.A. De C.V,",
    description:
      "Implemented a software solution for the metrology department to replace the previous system | Provided on-site and remote technical support to users | Computer equipment repair and preparation, including fault diagnosis | Data recovery and backup | Preventive and corrective maintenance | Printers and IP telephony.",
    link: "https://www.auma.com/es_ES",
    technologies: [
      "Java",
      "C#",
      "SQL",      
    ],
  },
  
]
---
<div class="flex flex-col gap-y-16">
  
</div>


<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>