---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Desarrollador Backend",
    company: "Tsoft",
    description:
      "Participé en el ciclo completo de desarrollo de software, desde la fase de diseño hasta la implementación, con un enfoque específico en la optimización de aplicaciones preexistentes para mejorar su rendimiento y escalabilidad. Contribuí significativamente en el desarrollo, migración e implementación de soluciones empresariales sofisticadas, destacando proyectos de alta relevancia para instituciones financieras como la Bolsa Mexicana de Valores.",
    link: "https://www.linkedin.com/in/josecahdez/",
  },
  {
    date: "Agosto 2022",
    title: "Full Stack",
    company: "Grupo Hergosa",
    description:
      "Realicé un análisis exhaustivo de métricas de navegación y usabilidad, lo cual condujo a la implementación de mejoras estratégicas en varios servicios digitales de la organización, optimizando tanto la experiencia del usuario como la indexación de dichos servicios.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
